## 학습목표
 1. pandas Series 이해하기

In [1]:
import numpy as np
import pandas as pd

#### **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

In [2]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [3]:
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [4]:
s['k'] = 300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [5]:
s.drop('k', inplace=True) #inplace=True으로 결과 값 고정시킴

In [6]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [8]:
s[['a', 'b']] = [300, 900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

#### **Slicing**
 - 리스트, ndarray와 동일하게 적용

In [9]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [10]:
s1[1:3]

1    101
2    102
dtype: int32

In [11]:
s2 = pd.Series(np.arange(100, 105), ['a', 'c', 'b', 'd', 'e'])
s2

a    100
c    101
b    102
d    103
e    104
dtype: int32

In [12]:
s2[1:3]

c    101
b    102
dtype: int32

In [13]:
s2['c':'d'] #문자열로 이루어진 경우 마지막 까지 포함시킴

c    101
b    102
d    103
dtype: int32